/*
:root is not really used
*/
:root {
  --light-theme-background: rgb(255, 255, 255);
  --light-theme-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  --light-theme-text: rgb(22, 22, 22);
}

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
}

.top-nav {
  background-color: var(--tranparent);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-inline: 20px;
  box-shadow: none;
  transition: background-color 0.2s, box-shadow 0.2s, height 0.2s;
  z-index: 1000;
  color: var(--light-theme-background);
  background-position: center center;
  background-size: cover;
}

.nav-text {
  font-size: 1.1rem;
}

.primary-text {
  font-size: 1.2rem;
  display: block;
  margin-inline: 10px;
  margin-block: 6px;
  font-weight: 600;
}

.card-content {
  margin-inline: 10px;
  margin-bottom: 15px;
  margin-top: 0px;
  flex-grow: 100;
}

a {
  text-decoration: none;
}

.nav-link {
  cursor: pointer;
  color: rgb(255, 102, 0);
}

.top-nav.opaque {
  background-color: rgb(214, 214, 214);
  box-shadow: var(--light-theme-shadow);
  height: 60px;
}

.top-nav.opaque > .top-text {
  color: black;
}
.header {
  background-image: url(./res/rect.png);
  background-size: cover;
  background-position: center top;
  height: 300px;
  text-align: center;
  padding-top: 50px;
}

.footer-area {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
}

.space {
  flex: 1;
}

.nav-icon {
  height: 40px;
}

.total {
  margin: auto;
  max-width: 800px;
  padding: 20px;
}

.pre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.board-image {
  width: 100%;
}

.section-title {
  font-weight: 600;
}

.card-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: rgb(255, 161, 99);
  justify-content: stretch;
}

.card-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-icon {
  width: 30%;
  margin: auto;
  margin-top: -40px;
  margin-bottom: 0px;
  border-radius: 50%;
  border: 10px solid rgb(255, 161, 99);
  box-shadow: 0px -6px 4px rgba(0, 0, 0, 0.15);
}
.profile-card {
  margin-top: 40px;
}
.center-text {
  text-align: center;
  margin-top: 0px;
}

.account-text {
  position: relative;
}

.account-card {
  position: absolute;
  top: calc(100%);
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  gap: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.account-card.show {
  opacity: 1;
}

.account-card:focus {
  opacity: 1;
}

.free-area {
  position: relative;
}
.float-tag {
  position: absolute;
  right: 12px;
  bottom: 10px;
  background-color: black;
  color: rgb(255, 94, 0);
  padding-inline: 3px;
  padding-block: 1px;
  border-radius: 3px;
  opacity: 0.85;
}

.buy-button {
  margin-inline: 10px;
  margin-bottom: 12px;
  font-size: 12pt;
  background-color: black;
  color: rgb(255, 94, 0);
  padding-block: 7px;
  border-width: 0px;
  border-radius: 6px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.buy-button:hover {
  background-color: rgb(15, 15, 15);
}

.buy-button:active {
  background-color: rgb(32, 32, 32);
}
.tag {
  background-color: rgb(223, 0, 0);
  color: white;
  padding-inline: 5px;
  padding-block: 2px;
  border-radius: 4px;
}

.heavy {
  font-weight: 700;
}

.buy-link {
  display: block;
}

@media (max-width: 650px) {
  .pre {
    grid-template-columns: 1fr;
  }
}
